spring:
  application:
    name: api-gateway
  main:
    lazy-initialization: true
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://auth-service
              predicates:
                - Path=/auth/**

server:
  port: ${PORT:8080}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka